<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="github.com/sswellington" />
	
	<link rel="shortcut icon" href="{{url_for('static', filename='/favicon.ico')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/new.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/mynew.css')}}"/>
	<title> {% block title %} Flask is Fun! {% endblock %} </title>
</head>
<body>
	<style scoped>
		a { text-decoration: none; color: black; }
		a:hover {text-decoration: underline;}
	</style>
	<nav style="text-align: right;">
		<a href="/">Home</a>  &nbsp
		<a href="#">About</a> &nbsp
		<a href="#">Contact</a> 
	</nav>
	<div>
		<h1> <a href="/">Flask is Fun!</a>  </h1>
	</div>
	<hr>
	{% block content %}
	{% endblock %}
	<br><br>
	<hr>
	<footer style="text-align: center;">  
			Copyright © 2020 
			<a href="https://github.com/codinginbrazil/flask" target="_blank">
				Coding in Brazil
			</a> 
	</footer>
</body>
</html>